<div class="uk-grid" uk-grid>
  <div class="uk-width-1-1 uk-grid" uk-grid>
    <div>
      <select (change)="change($event)" name="type" id="">
        <option value="sharedesk">sharedesk</option>
        <option value="nexdus">nexdus</option>
        <option value="hackerstreet">hackerstreet</option>
        <option value="myhq">myhq</option>
        <option value="engage">engage</option>
        <option value="digicuro">digicuro</option>
        <option value="all">all</option>
        <option value="common">common</option>
        <option value="no cafe">No Cafe</option>
        <option value="some check">Some Check</option>
      </select>
    </div>
    <div>
      <button [useExistingCss]="true" printSectionId="print-section" ngxPrint>print</button>
    </div>
    <div>
      <button (click)="export()">Export!</button>
    </div>
    <div>
      <input type="file" (change)="import($event)" [(ngModel)]="file_upload" name="file_upload">
    </div>
  </div>
  <div id="print-section" class="uk-width-1-1">
    <!-- <table class="uk-table uk-table-striped sjs-table">
      <thead>
        <tr>
          <th>S. No</th>
          <th>Name</th>
          <th>Address</th>
          <th>Type</th>
          <th>Provider</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations; let i = index">
          <td>{{i + 1}}</td>
          <td>{{location.name}}</td>
          <td>{{location.address}}</td>
          <td>{{location.type}}</td>
          <td>{{location.provider}}</td>
        </tr>
      </tbody>
    </table> -->
    <table class="uk-table uk-table-striped sjs-table">
      <thead>
        <tr>
          <th>S. No</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of nowheredata; let i = index">
          <td>{{i + 1}}</td>
          <td>{{location}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>